<footer>
  <div class="wrapper">
    <nav class="navbar fixed-bottom p-1 navbar-light bg-light" style="font-size: 0.7rem;">
      <ul class="navbar-nav navbar-expand ml-2 mr-auto">
        {% if site.github_username %}
        <li class="nav-item">
          <div class="nav-link">
          {% include icon-github.html username=site.github_username only_icon=true %}
          </div>
        </li>
        {% endif %}

        {% if site.linkedin_username %}
        <li class="nav-item ml-2">
          <div class="nav-link">
          {% include icon-linkedin.html username=site.linkedin_username only_icon=true %}
          </div>
        </li>
        {% endif %}
        
        {% if site.instagram_username %}
        <li class="nav-item ml-2">
          <div class="nav-link">
          {% include icon-instagram.html username=site.instagram_username only_icon=true %}
          </div>
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li class="nav-item ml-2">
          <div class="nav-link">
          {% include icon-twitter.html username=site.twitter_username only_icon=true %}
          </div>
        </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav navbar-expand mr-2">
        <li class="nav-item ml-2">
          <span class="nav-link active" style="vertical-align: middle;">Copyright © lhy.kr | All rights reserved.</span> 
        </li>        
      </ul>
    </nav>
  </div>
</footer>
