<div class="mb-2">
  <img src="{{ "/assets/images/profile.jpg" | relative_url }}" alt="" class="img-home rounded-circle">
  <h3 class="home-name pt-1">LeeHanYeong</h3>
  <p>Django programmer</p>
  <ul class="social-media-list horizontal">
    {% if site.github_username %}
    <li>
      {% include icon-github.html username=site.github_username large=true %}
    </li>
    {% endif %}
    
    {% if site.instagram_username %}
    <li>
      {% include icon-instagram.html username=site.instagram_username large=true %}
    </li>
    {% endif %}
    
    {% if site.linkedin_username %}
    <li>
      {% include icon-linkedin.html username=site.linkedin_username large=true %}
    </li>
    {% endif %}
  </ul>
  <div>
    <a href="mailto:dev@lhy.kr" class="btn btn-primary btn-sm">dev@lhy.kr</a>
  </div>
</div>