---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

blockquote {
  letter-spacing: 0;
}
p {
  margin-bottom: 10px;
}
p + .highlighter-rouge {
  margin-top: -11px;
}
h1, h2, h3, h4, h5, h6 {
  padding-top: 15px;
}
pre {
  tab-size: 2;
  background-color: transparent;
}
code {
  font-family: 'Inconsolata', monospace;
  background-color: transparent;
  color: #f8f8f2;
}
code.highlighter-rouge {
  background-color: #272822;
  padding: 3px 6px;
}
.wrapper {
  max-width: calc(1200px - (30px * 2))
}