---
layout: default
title: lhy's Blog
permalink: /about/
---
<div class="text-center">
  {% include profile.html %}
</div>
<div>
  <h2>개요</h2>
  <dl>
    <dt>소개</dt>
    <dd>
      <p>파이썬과 장고를 사용하는 웹 개발자입니다. 최근에는 장고는 API서버 및 관리자기능만 사용하고 있으며, Vue.js를 프론트엔드 개발에 사용합니다.</p>
      <p>배포에는 AWS의 ElasticBeanstalk을 주로 사용했으나, ECS로의 이주를 계획중입니다.</p>
    </dd>
    
    <dt>사용기술</dt>
    <dd>언어: Python, JavaScript</dd>
    <dd>프레임워크: Django, Vue.js</dd>
    <dd>선호도구: Git, PyCharm, WebStorm</dd>
  </dl>
  
  <h2>학력</h2>
  <dl>
    <dt>2007~2020 홍익대학교</dt>
    <dd>
      <p>컴퓨터공학 (재학, 2020년 8월 졸업예정)</p>
    </dd>
  </dl>
  
  <h2>경력 및 이력</h2>
  <dl>
    <dt>2019~ 티페이</dt>
    <dd>
      <p>VAN, 총판, POS통합 결제시스템 제공회사</p>
      <p>내부 계약, 매출등의 데이터를 다루는 관리자콘솔 개발(Django) 및 배포운영(AWS)</p>
    </dd>
    <dt>2016-2018 패스트캠퍼스</dt>
    <dd>
      <p>커리어 전환을 위한 실무교육기관</p>
      <p>웹 프로그래밍 스쿨 강사 (Django, AWS위주의 백엔드 기술 강습)</p>
    </dd>
    <dt>2015-2016 타운컴퍼니</dt>
    <dd>
      <p>온라인 대학생 공동구매 플랫폼</p>
      <p>Django백엔드 API애플리케이션, AngularJS 1.x기반 프론트엔드, 관리자콘솔 개발</p>
    </dd>
    <dt>2014-2015 텐핑거스</dt>
    <dd>
      <p>커플 데이트코스 제공 서비스 '데이트팝'</p>
      <p>Django백엔드 API애플리케이션, GoogleAppEngine운영/배포, AngularJS 1.x를 사용한 관리자콘솔 개발</p>
    </dd>
    <dt>2013-2014 SW Maestro과정 진행</dt>
    <dd>
      <p>미래창조과학부(현 과학기술통신부), 정보통신기진흥센터 주관 SW인재 육성 프로그램</p>
      <p>백엔드 애플리케이션 및 배포환경 학습</p>
    </dd>
    <dt>2012-2012 에이엔티홀딩스</dt>
    <dd>
      <p>SI 중소기업</p>
      <p>안드로이드 애플리케이션 개발</p>
    </dd>
    <dt>2011-2012 서드데브</dt>
    <dd>
      <p>1인 모바일 출판 플랫폼</p>
      <p>안드로이드 애플리케이션 개발</p>
    </dd>
  </dl>
</div>