---
layout: default
title: lhy's Blog
permalink: /
---
<div class="row">
  <div class="col-md-3 text-center">
    {% include profile.html %}
  </div>
  <div class="col-md-9">
    <div>
      <h2>
        <span>Recent posts</span>
        <a href="/posts/" class="btn btn-primary btn-sm ml-1" target="_blank">
          <span>View all posts</span>
          <i class="fas fa-chevron-right ml-1"></i>
        </a>
      </h2>
      <ul class="post-list mb-0" style="font-size: 0.7rem;">
        {% for post in site.posts limit: 3 %}
          {% include post-list-item.html post=post view_tag=true %}
        {% endfor %}
      </ul>
    </div>
    <div>
      <h2>Projects</h2>
      <ul class="project-list">
        <li class="project-item">
          <div class="project-item-title">
            django-quill-editor
            <a href="https://github.com/LeeHanYeong/django-quill-editor" target="_blank">
              <i class="fab fa-github"></i>
            </a> 
          </div>
          <div class="project-item-content">
            JS기반의 WYSIWYG에디터인 Quill.js를 Django의 Form과 Admin에서 사용할 수 있도록 도와주는 라이브러리
          </div>
          <div class="project-item-tags">
            <span class="badge badge-success">Django</span>
            <span class="badge badge-dark">JavaScript</span>
            <span class="badge badge-info">OpenSource</span>
          </div>
        </li>
        <li class="project-item">
          <div class="project-item-title">
            django-secrets-manager
            <a href="https://github.com/LeeHanYeong/django-secrets-manager" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </div>
          <div class="project-item-content">
            AWS의 SecretsManager서비스를 사용해 Django의 비밀값을 관리하도록 도와주는 라이브러리
          </div>
          <div class="project-item-tags">
            <span class="badge badge-success">Django</span>
            <span class="badge badge-warning">AWS</span>
            <span class="badge badge-info">OpenSource</span>
          </div>
        </li>
        <li class="project-item">
          <div class="project-item-title">
            let: us Go!
            <a href="https://github.com/leehanyeong/let-us-go" target="_blank">
              <i class="fab fa-github"></i>
            </a> 
            <a href="https://api.letusgo.app/doc" target="_blank">
              <i class="fas fa-book"></i>
            </a>
          </div>
          <div class="project-item-content">
            iOS 세미나 `let us: Go!` 의 서버 애플리케이션입니다
          </div>
          <div class="project-item-tags">
            <span class="badge badge-success">Django</span>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>
